[core]
  autocrlf = input
[user]
  email = 49658683+Raynou@users.noreply.github.com
	name = Rafael García Mendoza
[init]
  defaultBranch = main
[diff]
	tool = meld
[difftool "kompare"]
	cmd = kompare \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[merge]
	tool = meld
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
